<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Quote</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/style.css">
    <style>
        body{
            background-color:tan;

        }
        .box{
            margin:auto;
            width:310px;
            height:690px;
            margin-top:20vh;
            background-color:peru;
            border-radius: 10px;;
            padding:20px 20px;
            margin-bottom:100px;
        }
        button{
            margin:auto;
            margin-left:10px;
            margin-top:30px;
        }
#quotedisplay{
    font-family: 'Righteous', cursive;
    font-size:20px;
    padding:0px 30px;
    /* margin-left:100px; */
    color:white;
}
nav ul li a:hover{
    text-decoration:none;
}
       
    </style>
</head>
<body>
     <nav>
        <div class="imagebox">
            <h2>INFOTECHHUB</h2>
        </div>
<div class="toggleicon" id="clickme">
                <span onclick="toggle()" ><i class="fa fa-bars" id="toggleon"></i></span>

            </div>
        <ul id="navul">
            
            <li href="/">
                <a href="/">Home</a>
                
               
                
            </li>
            <li href="/aboutpage">
                <a href="/aboutpage">About Us</a>
            </li>
            <li href="/contact"> <a href="/contact">Contact Us</a></li>
            <li  href="/tool"> <a href="/tool">TOOLS</a></li>
           
        </ul>
    </nav>


    <div class="box">

        <h2 style="color:white;text-align: center;">Random Quote Generator</h2>
        <button type="button" class="btn btn-outline-warning" style="color:black"  onclick="newquote()">Random Quote Generate</button>
    <br><br>
        <i class="fa fa-quote-left" style="font-size:36px"></i><br>
        <span id="quotedisplay" style="margin-left:20px;">
           

        </span>
        <br><br>
        <button type="button" class="btn btn-outline-warning" style="color:black"  onclick="copyToClipboard('span')">Copy Quote</button><br><br>
        <!-- <input type="text" name="answer" id="answer" placeholder="
           Enter Quote Here" style="width:200px;border-radius: 10px;font-family: 'font-awesome'"><br>
        <button type="button" class="btn btn-outline-warning" style="color:black"  onclick="addquote">Add Your Quote</button> -->
        <!-- <button type="button" class="btn btn-outline-warning" style="color:black"  onclick="copyToClipboard('span')">Add Quote</button> -->
        <a class="btn btn-primary" href="https://wa.me/+919924559503" role="button">DM Me to Add Quote Or Any Suggestion</a>
        </div>
    <script>
        var quote = [ "The greatest glory in living lies not in never falling, but in rising every time we fall.\" - Nelson Mandela","The way to get started is to quit talking and begin doing.\" - Walt Disney","Your time is limited, so don't waste it living someone else's life. Don't be trapped by dogma – which is living with the results of other people's thinking.\" - Steve Jobs",
        "Life is what happens when you're busy making other plans.\" - John Lennon","If you set your goals ridiculously high and it's a failure, you will fail above everyone else's success.\" - James Cameron","When you reach the end of your rope, tie a knot in it and hang on.\" - Franklin D. Roosevelt"
        ,"Do not go where the path may lead, go instead where there is no path and leave a trail.\" -Ralph Waldo Emerson","you will face many defeats in life, but never let yourself be defeated.\" - Maya Angelou",
        "The greatest glory in living lies not in never falling, but in rising every time we fall.\" -Nelson Mandela",
        "Life is never fair, and perhaps it is a good thing for most of us that it is not.\" -Oscar Wilde","Success is not final; failure is not fatal: It is the courage to continue that counts.\" - Winston S. Churchill",
"Success usually comes to those who are too busy to be looking for it.\" -Henry David Thoreau",
"The way to get started is to quit talking and begin doing.\" -Walt Disney",
"If you really look closely, most overnight successes took a long time.\" - Steve Jobs",
"The secret of success is to do the common thing uncommonly well.\" - John D. Rockefeller Jr.",
"I find that the harder I work, the more luck I seem to have.\" -Thomas Jefferson",
"The real test is not whether you avoid this failure, because you won't. It's whether you let it harden or shame you into inaction, or whether you learn from it; whether you choose to persevere.\" -Barack Obama"
,"Don't be distracted by criticism. Remember -- the only taste of success some people get is to take a bite out of you.\" -Zig Ziglar"

 ,"Success usually comes to those who are too busy to be looking for it.\" - Henry David Thoreau",

, "I never dreamed about success, I worked for it.\" - Estee Lauder","उठो… जागो… और तब तक मत रूको! जब तक लक्ष्य की प्राप्ति न हो!! ~ स्वामी विवेकानंद","एक बार किसी ने स्वामी विवेकानंद जी से पूछा कि:- ‘सब कुछ खोने से ज्यादा बुरा क्या है?’ स्वामी जी ने जवाब दिया:- ‘उस उम्मीद का खो देना जिसके भरोसे  हम सब कुछ  वापस पा सकते है’ ~ स्वामी विवेकानंद "
,"जब तक जीना, तब तक सीखना! यानी अनुभव ही जगत में सर्वश्रोष्ठ शिक्षक है!! – स्वामी विवेकानंद","किसी मकसद के लिए खड़े हो तो एक पेड़ की तरह, गिरो तो एक बीज की तरह, ताकि दुबारा उगकर उसी मकसद के लिए फिर से जंग कर सको…!! – स्वामी विवेकानंद ","सभी शक्तियां आपके अंदर है, आप कुछ भी और सब कुछ कर सकते है… – स्वामी विवेकानंद","भय को नजदीक न आने दो अगर यह नजदीक आये तो इस पर हमाला कर दो यानी भय से भागो मत इसका सामना करों – आचार्य चाणक्‍य",
"जिन लोगों में लज्जा का गुण न हो, जो किसी भी गलत कार्य को करने में संकोच न करें और जो लज्जा हीन हो, उनसे मित्रता नहीं करनी चाहिए! ~ चाणक्य के अनमोल विचार","कामयाब होने के लिए अच्छे मित्रों की जरूरत होती है और ज्यादा कामयाब होने के लिए अच्छे शत्रुओं की आवश्यकता होती है! ~ चाणक्य ","असंभव शब्द का प्रयोग केवल कायर ही करते है बहादुर और बुद्धिमान व्यक्ति अपना  मार्ग स्वयं बनाते है! – चाणक्य",
"जो तुम्हारी बात सुनते हुए… इधर-उधर देखे उस पर कभी विश्वास न करो – चाणक्य","दुष्टों और कांटों से बचने के केवल दो ही उपाय है जूतों से उन्हें कुचल डालना या उनसे दूर रहना ~ चाणक्य","फूलों की सुगंध केवल वायु की दिशा में फैलती है पर एक व्यक्ति की अच्छाई हर दिशा में फैलती है - चाणक्य","• एक मिनट की सफलता, बरसों की असफलता की कीमत चुका देती है !! • हमारे आलस्य की सजा सिर्फ हमारी असफलता नहीं है, दूसरों की सफलता भी है!! •"
     ,"Weak people revenge. Strong people forgive. Intelligent People Ignore.  - Albert Einstein " , "The world will not be destroyed by those who do evil, but by those who watch them without doing anything. - Albert Einstein"," जब तक किसी काम को नहीं किया जाता तब तक वह असंभव है।", "यदि आप वही करते हो जो आप हमेशा से करते आये है, तो आपको उतना ही मिलेगा जितना हमेशा से मिलता आया है।","सफलता उन्ही लोगो को मिलती है जो लोग रिस्क लेना जानते है।","अच्छी किताबे और अच्छे लोग तुरंत समझ में नहीं आते, उन्हें पढना पड़ता है।"
     ,"शक्ति के अभाव में विश्वास व्यर्थ है। विश्वास और शक्ति, दोनों किसी महान काम को करने के लिए आवश्यक हैं।\" ~ सरदार वल्लभ भाई पटेल","यहाँ तक कि यदि हम हज़ारों की दौलत गवां दें, और हमारा जीवन बलिदान हो जाए, हमें मुस्कुराते रहना चाहिए और ईश्वर एवं सत्य में विश्वास रखकर प्रसन्न रहना चाहिए।\" ~ सरदार वल्लभ भाई पटेल","जीवन में सब कुछ एक दिन में नहीं हो जाता है।\" ~ सरदार वल्लभ भाई पटेल","कर्तव्यनिष्ठ व्यक्ति सदैव आशावान रहता है।\"~ सरदार वल्लभ भाई पटेल",
     "आपको अपना अपमान सहने की कला आनी चाहिए।\" ~ सरदार वल्लभ भाई पटेल","सुख और दुःख मन के कारण ही पैदा होते हैं और वे मात्र कागज के गोले हैं।\"~ सरदार वल्लभ भाई पटेल","सपने देखने वालों के लिए रात छोटी पड़ जाती है। जबकि सपना पूरा करने वालों के लिए दिन छोटा पड़ जाता है\" - Dr.Vivek Bindra ","आप सोशल मीडिया का इस्तेमाल कर रहे हैं; तो ठीक है। अगर सोशल मीडिया आपका इस्तेमाल कर रहा हैं तो गलत है\" -Dr.Vivek Bindra","“सफल होने के लिए आपको पहले स्वयं को मनाना जरूरी है कि हम सफल हो सकते हैं और सफल होंगे” – Dr.Vivek Bindra "
     ,"समुद्र के बीच से किनारे पर आने से अच्छा है कि उतनी ही दूरी पर आप अपने लक्ष्य को प्राप्त कर सकते हैं\"- Dr.Vivek Bindra ","जब तक आप जीते हैं, सीखते रहें कि कैसे जीना है\"-Dr.Vivek Bindra "]
     
     
     
function newquote(){
          var x = Math.floor(Math.random()*(quote.length))
          document.getElementById("quotedisplay").innerHTML=quote[x];

      }
      function copyToClipboard(element) {
 var $temp = $("<input>");
 $("body").append($temp);
 $temp.val($(element).html()).select();
 document.execCommand("copy");
 $temp.remove();
}
     </script> 
   

         <script>
    $(document).ready(function(){
        $("#clickme").click(function(){
            $("#navul").slideToggle('fast');
            $("#toggleon").animate({'left':"360deg"})
        })
    })
    
   </script>

    
</body>
</html>